@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

:root {
  --color-greengray: #ebebde;
  --color-green: #777764;
  --color-darkgray: #4f4747;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

p {
  margin: 10px 20px;
  font-size: 18px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--color-greengray);
  padding: 20px;
  text-align: center;
}
header nav a {
  padding: 10px 20px;
  font-size: 20px;
  color: var(--color-green);
  letter-spacing: 4px;
}
header nav a:hover,
header nav a.active {
  transition: 0.5s ease-out;
  color: var(--color-darkgray);
}

.profile-portrait {
  border-radius: 50%;
  height: 200px;
  float: left;
  margin: 30px;
}

body {
  background: var(--color-greengray);
  height: 100vh;
  width: 100%;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
section:nth-child(1) {
  color: var(--color-greengray);
}
section:nth-child(2) {
  color: var(--color-darkgray);
  background: var(--color-greengray);
}
section:nth-child(3) {
  color: var(--color-darkgray);
}
section:nth-child(4) {
  color: var(--color-greengray);
  background: var(--color-greengray);
}
section:nth-child(5) {
  color: var(--color-darkgray);
}
section .container {
  margin: 100px;
}
section h1 {
  font-size: 3rem;
  margin: 20px;
}
h2 {
  font-size: 40px;
  text-align: center;
  letter-spacing: 10px;
  color: var(--color-darkgray);
  margin-bottom: 30px;
}
section .text-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  gap: 1em;
  align-items: center;
}
section .text-container .text-box {
  display: grid;
  grid-template: 220px 1fr / 1fr;
  align-content: stretch;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  background: var(--color-green);
  border-radius: 8px;
  opacity: 80%;
  min-height: 100%;
}
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  margin: auto;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

section .text-container .text-box img {
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.button {
  transition-duration: 0.4s;
  background-color: var(--color-darkgray);
  color: var(--color-greengray);
  border-radius: 30px;
  text-align: center;
  font-size: 14px;
  border: 2px solid var(--color-darkgray);
  max-height: 40px;
  padding: 10px;
  max-width: 200px;
  margin: 10px auto;

}

.button:hover {
  color: var(--color-greengray);
  background-color: var(--color-green);
  cursor: pointer;
  border: 2px solid var(--color-greengray);
}

.contact {
  padding: 10px;
  margin: auto;
}

.contact:hover {
  cursor: pointer;
}

.resume {
  color: var(--color-darkgray);
  font-style: italic;
}

.resume:hover {
  text-decoration: underline;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: var(--color-darkgray);
  color: var(--color-greengray);
  box-shadow: 2px 2px 2px var(--color-green);
  text-align: center;
  padding: 5px 0;
  border-radius: 13px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.skill-icons {
  margin: 160px 0px 0px 0px;
  text-align: center;
}
